<!DOCTYPE html>
<html>
  <head>
   <script src="../controllers/homeController.js"></script>
   <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <title>EJS Example</title>

  </head>
  <body>
    <nav>
      <input type="text" id="nav-textbox" placeholder="Type here...">
      <button onclick="saveText()">Submit</button>
    </nav>

    <h1>Welcome to my website</h1>
    <p>This is an example of using EJS with external JavaScript.</p>

   
  </body>
</html>